{{ define "main"}}
<section class="blog">
{{ partial "blog-header.html" . }}
<div>
  <h3>Posts tagged #<span id="featured-tag"></span></h3>
  <div class="tag-section">
      {{ range .Data.Pages }}
      <article>
          <h4><a href="{{.RelPermalink}}">{{ .Title }}</a></h4>
          <p>{{ .Summary }}<span class="readmore"><a href="{{ .Permalink }}"> ...read the full post</a></span></p>
      </article>
      {{ end }}
    </div>
</div>
  </section>
  <script>
    let getTag = document.getElementById("featured-tag");
    let pageTitle = document.title;
    getTag.innerHTML = pageTitle.substring(0, pageTitle.indexOf('-'));
  </script>
  {{ partial "footer.html" . }}
{{ end }}


