<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ $css := "css/bootstrap.min.css" | absURL }}
    <link rel="stylesheet" href="{{ $css }}">
    <title>{{ .Title }}</title>
  </head>  
  <body>
    <div class="container">
      <main id="main">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </main>
    </div>
  </body>
</html>



<!-- {{ define "main"}}
<section class="single-page">
  <div class="single-page-header">
  <div class="single-page-title">
    <h1>{{ .Title }}</h1>
  </div>
  <div class="single-page-details">
  {{ $singlePageDateFormat := .Site.Params.singlePageDateFormat | default "January 2, 2006"}}
  <p class="date">{{ .Date.Format $singlePageDateFormat }}</p>
  {{ partial "tags.html" .}}
</div>
</div>
  <div id="contentBody">
    {{ .Content }}
  </div>
  
  {{ $related := .Site.RegularPages.Related . | first 5 }}
  {{ with $related }}
  <h3>See Also</h3>
  <ul>
    {{ range . }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
</section>
  {{ partial "footer.html" . }}
{{ end }} -->
