<div class="blog-header">
    <h1>Blog</h1>
    <h4>Jakob Jan Kamminga</h4>
    <img class="blog-logo-image" src="/img/icons/{{ .Site.Params.weapon }}" alt="owl icon">
    <div class="blog-tags">
        <div class="tag-text-area">
            <span><a href="/tags/{{ .Site.Params.featuredTag1 }}">#{{ .Site.Params.featuredTag1 }}</a></span>
            <span><a href="/tags/{{ .Site.Params.featuredTag2 }}">#{{ .Site.Params.featuredTag2 }}</a></span>
            <span><a href="/tags/{{ .Site.Params.featuredTag3 }}">#{{ .Site.Params.featuredTag3 }}</a></span>
            <span><a href="/tags/{{ .Site.Params.featuredTag4 }}">#{{ .Site.Params.featuredTag4 }}</a></span>
            <span><a href="/blog">All</a></span>
        </div>
    </div>
</div>