/* General */
:root {
  --text-color: #1B1C22;
  --text-color-lighter: #303A42;
  --text-color-lightest: #797979;
  --text-color-accent: #19494F;
  --text-color-accent-light: rgb(195, 226, 255);
  --text-color-contrast: #FFFFFF;
  --highlight-color-primary: #ffcb18;
  --highlight-color-secondary: #2F9492;
  --highlight-color-tertiary: rgb(148, 47, 47);
  --accent-color-primary: #8CDEC0;
  --background-color-white: rgb(243, 243, 243);
  --background-color-light: #DDDDDD;
  --background-color-dark: #1B1C22;
}

html {
  scroll-behavior: smooth;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0px 20px 20px;
  box-sizing:border-box;
  background-color: var(--background-color-light);
  color: var(--text-color);
  text-align: center;
  font-family: -apple-system, 'roboto', BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: 16px;
  word-wrap: break-word;
  overflow-x: hidden;
}

a {
  color: var(--text-color-accent);
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color-primary);
}

a:active {
  color: var(--highlight-color-secondary);
}

/* Transition effect */

.overlay{
  background: black;
  z-index: 2;
  position: fixed;
  top: 0%;
  left: -25%;
  width: 150%;
  height: 100%;
  transform: scaleX(0) skewX(-40deg);
  transform-origin: left
}

.transition {
  -webkit-animation: scaletoright 2000ms both cubic-bezier(0.770, 0.000, 0.175, 1.000);
          animation: scaletoright 2000ms both cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

@keyframes scaletoright {
  0%   { transform: scaleX(0) skewX(-40deg); transform-origin: left; }
  50%  { transform: scaleX(1) skewX(0deg); transform-origin: left; }
  51%  { transform: scaleX(1) skewX(0deg);; transform-origin: right; }
  100% { transform: scaleX(0) skewX(40deg);; transform-origin: right;}
}


/* Header */

.weapon {
  position: absolute;
  z-index: 5;
  box-shadow: 10px 10px 10px var(--background-color-dark);
  top: 20px;
  left: calc((100vw - 100px) / 2);
  right: calc((100vw - 100px) / 2);
  height: 100px;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  background: var(--highlight-color-primary);
  clip-path: polygon(50% 100%, 100% 62%, 82% 0, 18% 0, 0 62%);
  -webkit-clip-path: polygon(50% 100%, 100% 62%, 82% 0, 18% 0, 0 62%);
}

img.weapon-image {
  position: relative;
  top: 20px;
  height: 50px;
  z-index: 7;
}
img.weapon-image-overlay {
  position: sticky;
  top: 0px;
  height: 50px;
  z-index: 6;
}

nav.header-nav {
  position: sticky;
  z-index: 4;
  top: 0;
  background: var(--background-color-dark);
  border-bottom: 5px solid var(--highlight-color-primary);
  white-space: nowrap;
  padding: 23.5px;
  transform: skew(20deg);
  font-size: 23px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: auto;
  max-width: 750px;
}

nav .anchors {
  transform: skew(-20deg);
}

span.nav-item {
  color: var(--text-color-contrast);
  display: inline-block;
}

@media only screen and (max-device-width: 896px) {
  nav.header-nav {
    position: relative;
  }
  
  span.nav-item {
    padding: 0px 15px 0px 0px;
  }
  header .nav-item {
    position: relative;
    z-index: 4;
  }
  header .weapon {
    top: 60px;
  }
}

@media only screen and (min-device-width: 897px) {
  span.nav-item {
    padding: 0px 125px 0px 0px;
  }
}
  span.nav-item:last-of-type {
    padding: 0px;
  }

.header-nav .nav-item a {
  color: var(--text-color-contrast);
  text-decoration: none;
  box-shadow: 10px 10px var(--background-color-dark);
}
  .header-nav .nav-item a:hover {
    color: var(--highlight-color-primary);
  }
  .header-nav .nav-item a:focus {
    color: var(--highlight-color-secondary);
  }

/* Flower menu */
@media only screen and (max-device-width: 896px) {
  .cp-nav {
    display: none;
  }
}

.cp-nav {
  position: absolute;
  top: 50px;
  left: 100px;
}
.cp-nav__button {
  background-image:
    radial-gradient(
      rgba(0,0,0,1) 0,
      rgba(0,0,0,1) 1%,
      rgb(89, 140, 163) 2%,
      #2F9492 19%,
      #2F9492 20%,
      rgb(201, 201, 201) 23%,
      rgba(24, 24, 43, 0.5) 24%,
      rgba(255,255,255,0) 25%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,.1) 41%,
      rgba(255,255,255,0) 43%,
      rgba(255,255,255,.1) 45%,
      rgba(255,255,255,0) 46%,
      rgba(255,255,255,0) 53%,
      rgba(255,255,255,.1) 54%,
      rgba(255,255,255,0) 55%,
      rgba(255,255,255,0) 60%,
      rgba(255,255,255,.1) 61%,
      rgba(255,255,255,0) 62%,
      rgba(255,255,255,.1) 63%,
      rgba(255,255,255,0) 64%,
      rgba(255,255,255,.1) 65%,
      rgba(255,255,255,0) 66%),
    linear-gradient(
      45deg,
      #000 0%,
      #000 30%,
      rgba(47,47,47,1) 50%,
      #000 70%,
      #000 100%
    );
  position: relative;
  border: 0px;
  appearance: none;
  border-radius: 100%;
  height: 120px;
  width: 120px;
  color: var(--text-color-contrast);
  font-size: 3em;
  z-index: 10;
  text-transform: uppercase;
  outline: 0;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.1em;
  line-height: 0.7em;
  cursor: pointer;
}
.cp-nav__button  {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 2px;
  transform: rotateZ(0deg);
  transition: all 0.55s ease;
  line-height: 0.2em;
  transform-origin: center center;
}
.cp-nav__button:hover {
  transform: rotateZ(360deg);
}
.cp-nav nav {
  visibility: visible;
  position: relative;
  top: -125px;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.cp-nav nav ul {
  position: relative;
  width: 100%;
  height: 100%;
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  transform: scale(1);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.cp-nav nav li {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 157% 157%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cp-nav nav li:nth-of-type( 1) {
  transform: rotate(45deg);
}
.cp-nav nav li:nth-of-type( 1) a {
  transform: rotate(-45deg);
}
.cp-nav nav li:nth-of-type( 2) {
  transform: rotate(90deg);
}
.cp-nav nav li:nth-of-type( 2) a {
  transform: rotate(-90deg);
}
.cp-nav nav li:nth-of-type( 3) {
  transform: rotate(135deg);
}
.cp-nav nav li:nth-of-type( 3) a {
  transform: rotate(-135deg);
}
.cp-nav nav li:nth-of-type( 4) {
  transform: rotate(180deg);
}
.cp-nav nav li:nth-of-type( 4) a {
  transform: rotate(-180deg);
}
.cp-nav nav li:nth-of-type( 5) {
  transform: rotate(225deg);
}
.cp-nav nav li:nth-of-type( 5) a {
  transform: rotate(-225deg);
}
.cp-nav nav li:nth-of-type( 6) {
  transform: rotate(270deg);
}
.cp-nav nav li:nth-of-type( 6) a {
  transform: rotate(-270deg);
}
.cp-nav nav li:nth-of-type( 7) {
  transform: rotate(315deg);
}
.cp-nav nav li:nth-of-type( 7) a {
  transform: rotate(-315deg);
}
.cp-nav nav li:nth-of-type( 8) {
  transform: rotate(360deg);
}
.cp-nav nav li:nth-of-type( 8) a {
  transform: rotate(-360deg);
}
.cp-nav nav li a {
  position: relative;
  display: inline-block;
  color: var(--highlight-color-secondary);
  background-color: var(--text-color-contrast);
  text-decoration: none;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.45s ease;
  font-size: 1.6em;
}
.cp-nav nav li a:hover {
  background-color: var(--highlight-color-secondary);
  color: var(--text-color-contrast);
}
.cp-nav.is-active nav {
  visibility: visible;
}
.cp-nav.is-active ul {
  transform: scale(1.5);
}

/* Main */

.button {
  background: var(--text-color-accent);
  padding: 10px;
  color: var(--text-color-contrast);
}

.button:hover, .button:focus {
  color: var(--text-color-accent);
  background: var(--background-color-white);
  border: 3px solid var(--text-color-accent);
}

.button:active {
  border: 3px solid var(--highlight-color-primary);
}

.skyline {
  height: 400px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  overflow: auto;
}

#berlin {
  background-image: url("/img/backgrounds/berlin.jpg");
}
#amsterdam {
  background-image: url("/img/backgrounds/amsterdam.jpg");
}
#thehague {
  background-image: url("/img/backgrounds/thehague.jpg");
}
.keywords {
  display: block;
  z-index: 6;
  text-align: right;
  color: var(--text-color-contrast);
}

.keyword {
  overflow: visible;
  white-space: nowrap;

}

.feature-name {
 overflow: hidden;
}

.keyword, .feature-name {
  transform: translateX(-0.0625em);
  animation-name: taglineEmerge;
  animation-duration: 1400ms;
  animation-fill-mode: forwards;
}

@media only screen and (max-device-width: 896px) {
  .skyline.feature-bio {
    height: 700px;
  }
  
  .keywords {
    position: relative;
    max-width: 80vw;
    line-height: 3.8em;
    top: 250px;
    right: 0px;
  }
  
  .keyword {
    font-size: 83px;
    display: block;
  }
}

@media only screen and (min-device-width: 897px) {
  .keywords {
    position: absolute;
    max-width: 80vw;
    line-height: 8.2em;
    bottom: 0px;
    right: 0px;
  }
  
  .keyword {
    font-size: 200px;
    display: block;
  }

  @keyframes taglineEmerge {
    0% {
     -webkit-transform:translateY(50px);
     transform:translateY(50px);
     opacity:0
    }
    100% {
     -webkit-transform:translateY(0px);
     transform:translateY(0px);
     opacity:1
    }
   }
   
}

section.feature-bio {
  color: var(--text-color-contrast);
  text-align: left;
  font-size: 200%;
  margin-left: 10px;
  border-bottom: 1px solid var(--highlight-color-primary);
  border-left: 1px solid var(--highlight-color-primary);
}

span.feature-name {
  position: relative;
  z-index: 6;
  font-size: 250%;
  box-shadow: 1px 1px var(--highlight-color-primary);
}

.and {
  font-style: italic;
  float: right;
  margin-right: 10px;
  color: var(--text-color);
  background: var(--highlight-color-secondary);
}

.bracketed {
  font-style: italic;
  opacity: 0.5;
}

div.feature-contact {
  border-bottom: 1px solid var(--text-color-accent);
}
div.feature-contact p {
  font-size: 20px;
  color: var(--text-color-accent);
}
ul.feature-contact {
  list-style: none;
  word-spacing: 10vw;
}
ul.feature-contact li {
  display: inline-block;
  font-size: 30px;
}

/* Portfolio */

.portfolio-flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.section-portfolio h1 {
  text-align: right;
  border-bottom: 1px solid var(--highlight-color-secondary);
  color: var(--text-color);
  font-size: 325%;
}

.portfolio-item {
  background: var(--highlight-color-secondary);
  padding: 5px 0px 0px 5px;
  width: 300px;
  margin-top: 10px;
  border-radius: 0px 0px 30px 0px;
  color: white;
  font-weight: bold;
  text-align: left;
}

.portfolio-item ul {
  padding-left: 6px;
  font-size: 16px;
}

.portfolio-item li {
  font-weight: 400;
  padding-top: 5px;
}

.portfolio-item-img {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #portfolio-opmaat {
  background-image: url("/img/portfolio/opmaat-thumbnail.png");
}
#portfolio-thinkgames {
  background-image: url("/img/portfolio/thinkgames-thumbnail.png");
}
#portfolio-discometaphysics {
  background-image: url("/img/portfolio/discometaphysics-thumbnail.png");
} */

.portfolio-item h4 {
  text-align: left;
  text-decoration: underline;
}

.portfolio-showcase {
  height: 500px;
  width: 97.5%;
  overflow: auto;
}

.portfolio-showcase-image {
  box-shadow: 4px 4px 14px var(--background-color-dark);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
footer {
  box-sizing:border-box;
  background: var(--background-color-dark);
  color: var(--text-color-contrast);
}

footer a {
  color: var(--text-color-accent-light);
}

footer .credits-title {
  font-size: 10vw;
  font-style: italic;
  margin: 3%;
}

footer table.credits-table {
  display: table;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
} 
  footer table.credits-table td.credits-name {
    text-align: right;
  } 

.footer-social {
  font-size: 28px;
  overflow: auto;
}
  .footer-social li {
    padding: 20px;  
  }

/* Top page */
#profileContainer {
  /*min-height: calc(100vh - 100px);*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile {
  max-width: 600px;
  /* min-width: 300px; */
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  max-width: 300px;
  margin: 20px auto;
  padding: 0;
  list-style: none;
}

nav li {
  flex: 1;
}

/* Contents List */
#searchBox {
  position: relative;
  max-width: 300px;
  height: 30px;
  margin: 20px auto;
}

#searchBox #searchBoxInput {
  position: absolute;
  width: 100%;
  padding: 0 35px 0 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  outline: 0;
  font-size: 15px;
  color: var(--text-color-lighter);
  background-color: var(--background-color-light);
  border: solid 1px var(--highlight-color-secondary);
  box-sizing: border-box;
}

#searchBox #searchBoxInput::placeholder {
  color: var(--text-color-contrast);
}

#searchBox #searchBoxIcon {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 5px;
  right: 10px;
}

#searchResults {
  display: none;
  position: absolute;
  max-width: 600px;
  /* min-width: 300px; */
  margin: 0 auto;
  top: 240px;
  left: 0;
  right: 0;
  padding: 5px;
  background-color:#f6f6f6;
  border: solid 1px #c9c9c9;
  border-radius: 5px;
  text-align: left;
  box-sizing: border-box;
}

#searchResults .searchResultPage {
  padding: 20px
}

#searchResults .searchResultTitle {
  font-weight: bold;
  margin: 5px 0;
}

#searchResults .searchResultBody {
  font-size: 14px;
}

#searchResults mark {
  background-color: #dddfdf;
}

#contentsList {
  padding: 20px 0;
}

/* Page */
div#contentBody {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 0;

  text-align: left;

  /* display: flex;
  flex-wrap: wrap; */
}

/* #contentBody li {
  background-color: var(--background-color-light);
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 5px;
  text-align: left;
  vertical-align: top;
  box-shadow: 2px 2px 0px black;
} */

/* Blog */

section.blog {
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 9px 10px 0px var(--background-color-dark);
  background: var(--background-color-white);
  padding-top: 5px;
  margin-top: 50px;
}

section.blog div.blog-header {
  line-height: 0.65;
}

section.blog div.blog-header h1, section.blog div.blog-header h4 {
  text-align: left;
  margin-left: 20%;
}

@media only screen and (max-device-width: 897px) {
  section.blog div.blog-header h1, section.blog div.blog-header h4 {
    margin-left: 0%;
  }
  section.blog .blog-header h1 {
    font-size: 700%;
  }
  section.blog div.blog-header {
    line-height: 1.2;
    overflow: hidden;
  }
}

section.blog .blog-logo-image {
  display: block;
  position: relative;
  height: 100px;
  left: 65vw;
  bottom: -10px;
}

section.blog .blog-tags {
  width: 90%;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: 2px solid var(--background-color-dark);
  border-bottom: 2px solid var(--background-color-dark);
  white-space: nowrap;
  overflow-x: auto;
}

section.blog .tag-text-area {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

section.blog .blog-tags span {
  display: inline;
  font-family: 'Bebas Neue', cursive;
  font-size: 200%;
  margin-right: 50px;
}

section.blog h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 1000%;
  margin-top: 2%;
  margin-bottom: 2%;
}

section.blog h4 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 200;
  font-size: 225%;
  margin-top: 1%;
  margin-bottom: 1%;
}

section.blog h3 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 200;
  font-size: 225%;
  margin: 20px;
}

section.blog .blog-articles, section.blog .blog-month-section, section.blog .tag-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (min-device-width: 897px) {
  section.blog .blog-articles {
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
  }
}



section.blog article {
  padding: 0px 20px 0px 20px;
  margin-top: 20px;
  width: 300px;
  overflow: hidden;
}

section.blog article p {
  text-align: justify;
  text-justify: inter-word;
}

section.blog article .readmore {
  display: inline;
}

div.tag-section {
  padding-top: 20px;
}

.tags {
  list-style: none;
}

section.blog article .tags {
  white-space: nowrap;
  line-height: 1;
  text-align: left;
  margin: 2px 0px 0px 0px;
  padding: 10px 10px 10px 0px;
  overflow-x: auto;
  border-top: 1px solid var(--text-color-accent);
  border-bottom: 1px solid var(--text-color-accent);
}

.tag {
  display: inline;
}

/* blog post specific */

.single-page-header {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.single-page-title {
  width: 65%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
.blog .single-page-title {
  border-bottom: 2px solid var(--background-color-dark);
}


.single-page-details {
  width: 40%;
  border-bottom: 2px solid var(--background-color-dark);
  margin-right: auto;
  margin-left: auto;
}

.single-page .tags {
  padding: 0;
}

.single-page.blog h1 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 200;
  font-size: 300%;
  margin-top: 2%;
  margin-bottom: 0%;
}

div.blog-related-posts {
  margin: 0px 30px 40px 30px;
}

div.blog-related-posts h3 {
  display: flex;
  align-items: center;  
  margin: 1em -1em;
}

div.blog-related-posts a:visited {
  color: rgb(12, 37, 41);
}

div.blog-related-posts h3:before, div.blog-related-posts h3:after {
  flex: 1;
  content: "";
  margin: 0 1em;
  background: black;
  height: 2px;
}

div.blog-related-posts li {
  display: inline;
  margin-right: 10px;
  padding: 5px;
  border: 1px dotted var(--text-color-lighter);
}

/* Discogs lists */

div.feature-albums {
  display: flex;
  padding: 20px 50px 20px 50px;
  justify-content: space-between;
}

img.feature-album-img {
  width: 250px;
}


/* Stories */

section.stories h2, section.stories h3 {
  font-family: 'IM Fell DW Pica', serif;
}

section.stories h3 {
  font-size: 200%;
}

section.stories h3 {
  font-size: 150%;
  font-weight: 200;
  text-decoration: underline;
  margin-left: 15px;
}

div.stories-feature {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'IM Fell DW Pica', serif;
  border-radius: 5px;
}

#parchment-img {
  background-image: url("/img/backgrounds/parchment.jpg");
  background-repeat: repeat-y;
  background-size: auto;
  border: 1px solid  var(--background-color-light);
  box-shadow: 1px 1px 5px var(--highlight-color-tertiary);
}

div.stories-header {
  padding-top: 30px;
  opacity: 0.85;
  color: var(--text-color);
}

div.stories-title {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  font-weight: 300;
  font-size: 800%;
  border-bottom: 5px ridge var(--background-color-dark);
  box-shadow: 0px 1px 0px var(--background-color-dark);
}

div.stories-subtitle {
  text-align: center;
  font-weight: 200;
  font-size: 400%;
}

div.stories-subtitle img {
  display: inline-block;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

div.stories-subtitle span {
  margin-right: 15px;
}

.stories-title .first-letter {
  font-weight: 500;
  font-size: 110%;
}

.stories-title .or {
  font-size: 50%;
}

div.stories-introduction {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  font-size: 200%;
  opacity: 0.95;
  border-bottom: 2px ridge var(--background-color-dark);

}

div.stories-introduction .first-word {
  font-weight: 600;
  font-size: 150%;
}

@media only screen and (max-device-width: 897px) {
  div.stories-introduction {
    font-size: 125%;
    width: 80%;
  }
  div.stories-title {
    font-size: 350%;
  }
  div.stories-subtitle {
    font-size: 200%;
  }

  div.stories-subtitle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.stories-content {
  margin-top: 30px;
  border-radius: 5px;
  background: var(--background-color-light);
  border: 1px solid  var(--background-color-dark);
  box-shadow: 1px 1px 5px var(--background-color-dark);
}

.stories-content .story, .single-page .story {
  max-width: 700px;
  font-family: serif;
  font-size: 120%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--highlight-color-tertiary);
  background: var(--background-color-light);
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.story-index {
  margin-top: 30px;
}

.story-index-titles {
  font-size: 150%;
}

.story-index-title:after {
  content: ",";
}

.story-index-title:last-of-type:after {
  content: ".";
}

.single-page.stories h1 {
  font-family: 'IM Fell DW Pica', serif;
  font-weight: 200;
  font-size: 300%;
  margin-top: 2%;
  margin-bottom: 0%;
}

.single-page.stories {
  background: var(--background-color-light);
  border-radius: 5px;
}

/* Music */

section.music-header {
  border: 15px ridge darkgray;
}

.music-owl {
  position: absolute;
  left: 60px;
  top: 130px;
  height: 50px;
  opacity: 0.5;
}
.logo-sub {
  position: absolute;
  left: 70px;
  top: 180px;
  font-size: 10pt;
  text-shadow: none;
  color: var(--text-color-lightest);
}
.logo-sub .suffix {
  font-size: 50%;
}
@media only screen and (max-device-width: 896px) {
  img.music-owl {
    display: none;
  }
  span.logo-sub {
    display: none;
  }
}

section.music-header .music-feature {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--background-color-dark);
  color: var(--text-color-contrast);
  border-bottom: 1px solid var(--highlight-color-secondary);
  background: black;
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 1px white;
}



section.music-header .music-feature-keyword {
  position: relative;
  display: inline-block;
  font-size: 200%;
  z-index: 5;
  text-shadow: 1px 1px 5px var(--background-color-dark);
}

section.music-header .music-feature-subtitle {
  padding: 20px;
  background: white;
  color: black;
  font-weight: 500;
  text-align: justify;
  text-justify: inter-word;
}

.conclusion {
  font-size: 150%;
  font-weight: 900;
  letter-spacing: -1px;
  word-spacing: -0px;
  }

@media only screen and (max-device-width: 896px) {
  div#music-showcase-image {
    max-height: 200px;
  }
  
  div.music-feature-subtitle {
    max-height: 250px;
    overflow-y: auto;
  }

  div.music-brands {
    display: none;
  }
}

@media only screen and (min-device-width: 897px) {
  section.music-header .music-feature-subtitle {
    column-count: 4;
    column-gap: 30px;
  }
}


#music-showcase-image {
  height: 50vh;
  background-image: url("/img/backgrounds/amplifier.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid var(--highlight-color-secondary);
  border-bottom: 1px solid var(--highlight-color-secondary);
}

section.music-header .music-intro {
  padding: 15px;
  line-height: 2;
  background: rgb(0,11,47);
  background: linear-gradient(270deg, rgba(0,11,47,1) 0%, rgba(0,119,117,1) 58%, rgba(7,169,140,1) 100%);
  color: var(--text-color-contrast);
  text-align: left;
}

.van-schneider {
  background: #e50000;
  padding: 15px 10px 15px 10px;
  color: var(--text-color);
}

.van-schneider a, .van-schneider a:visited {
  color: var(--text-color);
}
.van-schneider a:hover {
  text-decoration: underline;
}
.van-schneider a:focus {
  border: 2px dotted black;
}

.hovs-rules {
  font-family: monospace;
}

div.music-brands {
  background: var(--background-color-dark);
  text-align: left;
}

div.music-brands .music-disclaimer {
  color: var(--text-color-lightest);
  font-weight: 300;
  margin: 20px;
}

div.music-brands .brands-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.brands-flex .brand-logo {
  max-width: 200px;
  color: var(--text-color-lightest);
  margin-top: auto;
  margin-bottom: auto;
  font-size: 140%;
  font-weight: 900;
  word-spacing: 1px;
  letter-spacing: -2px;
}

/* Music articles */

article.music-item {
  background: black;
}
article.music-item .title {
  width: 95%;
  border-bottom: 1px solid var(--highlight-color-primary);
}

article.music-item .music-item-header {
  margin-left: 10px;
  text-align: left;
}

@media only screen and (max-device-width: 896px) { 
  article.music-item .music-item-header {
    font-size: 60%;
  }
}

article.music-item h4 {
  margin: 10px;
  color: var(--highlight-color-primary);
  font-size: 600%;
}

article.music-item .music-links {
  margin: 25px;
  color: var(--text-color-accent);
}

article.music-item a {
  color: var(--text-color-accent-light);
}
article.music-item a:hover {
  color: var(--highlight-color-primary);
}
article.music-item a:focus {
  color: var(--text-color-accent-light);
}

article.music-item .headline {
  text-align: left;
  margin-left: 10px;
  color: var(--highlight-color-secondary);
  font-size: 200%;
}

article.music-item .subtitle {
  color: var(--text-color-lightest);
  margin-left: 10px;
}

article.music-item .sidenote {
  color: var(--text-color-lightest);
  margin-left: 10px;
}

.music-item .music-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 95%;
}

.music-item .music-item-art {
  margin: 40px 0px;
  max-width: 100%;
  overflow: hidden;
}

.music-item .music-item-art-img {
  width: 300px;
  height: 300px;
  margin-left: 22px;
  border: 1px solid var(--text-color-accent);
}

.music-item .music-content-block {
  width: 450px;
  height: 450px;
  margin: 20px;
  overflow: auto;
  border-radius: 5px;
}

article.music-item p, article.music-item table {
  background: var(--background-color-dark);
  min-width: 375px;
  width: 100%;
  color: #c6c6c6;
  border: 0px;
}

article.music-item table th {
  border: 0px;
  padding: 5px 150px 0px 5px;
  color: var(--highlight-color-secondary);
}

article.music-item table tr {
  border: 0px;
}

article.music-item table td {
  border: 0px;
  padding: 5px;
}

article.music-item table tr:nth-child(2n) {
  background: black;
}

