::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

.sentence:first-letter {
  float: left;
  font-size: 5rem;
  line-height: 4.5rem;
  margin: 0 6px 0 0;
}

:root {
  --main-darkgrey: #1b1c22;
  --main-dimgrey: #746D75;
  --main-lightgrey: #dddddd;
  --main-yellow: #ffcb18;
  --main-white: #fff;
  --main-teal: #007f7a;
  --main-lavender: #7D84B2;
  --main-darkblue: #172A3A;
  --main-jasper: #DB504A;

  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }

  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

blockquote {
  display: block;
  outline: 3px dotted var(--main-lightgrey);
  padding: 15px 10px 15px 45px;
  margin: 0 0 10px;
  position: relative;

  /*Font*/
  font-family: Georgia, serif;
  font-size: '1.2rem';
  font-style: italic;
  line-height: 1.2;
  color: var(--main-darkgrey);
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 15px solid var(--main-yellow);
  border-right: 2px solid var(--main-yellow);
}

blockquote::before {
  content: "\201C";
  font-size: 4rem;
  position: absolute;
  left: 10px;
  top: 5px;
}

blockquote::after {
  /*Reset to make sure*/
  content: "";
}

section img {
  max-width: 100%;
}

