{{ define "main"}}
<section class="single-page blog">
  <div class="single-page-header">
    <div class="single-page-title">
      <h1>{{ .Title }}</h1>
    </div>
  <!-- {{ partial "header.html" . }} -->
  <!-- date -->
    <div class="single-page-details">
      {{ $singlePageDateFormat := .Site.Params.singlePageDateFormat | default "January 2, 2006"}}
      <p class="date">{{ .Date.Format $singlePageDateFormat }}</p>
      {{ partial "tags.html" .}}
    </div>
  </div>
  <!-- content -->
  <div id="contentBody">
    {{ .Content }}
  </div>
  <div class="blog-related-posts">
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <h3>Related posts</h3>
    <ul>
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <a href="/blog" class="button">Back to blog home</a>
  <br>
  <br>

</section>
  {{ partial "footer.html" . }}
{{ end }}
