<div class="blog-articles" id="contentsList">
        {{ $listPageDateFormat := .Site.Params.listPageDateFormat | default "January, 2006"}}
        {{ range $index, $value := .Pages.GroupByDate $listPageDateFormat }}
          {{ if (ne $index 0) }}
          <hr class="separator">
        {{ end }}
        <h3 class="date">{{ .Key }}</h3>
        <div class="blog-section">
          {{ range .Pages }}
            <article>
              <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
              {{ partial "tags.html" .}}
  
              <p>{{ .Summary }}<span class="readmore">...<a href="{{ .Permalink }}"> read the full post</a></span></p>
              
            </article>
          {{ end }}
        </div>
        {{ end }}
      </div>