    <div id="nav" class="cp-nav">
        <button id="radial-menu" class="cp-nav__button"><!--<span id="button-icon"
                class="fa fa-plus-circle"></span>--></button>
        <nav>
            <ul>
                <li><a href="#"><span class=""></span></a></li>
                <li><a href="https://codepen.io/jj-kamminga"><span class="fab fa-codepen"></span></a></li>
                <li><a href="https://www.linkedin.com/in/jakobjankamminga/"><span class="fab fa-linkedin-in"></span></a></li>
                <li><a href="https://twitter.com/JaJaKamminga"><span class="fab fa-twitter"></span></a></li>
                <li><a href="https://github.com/JJ-Kamminga"><span class="fab fa-github"></span></a></li>
                <li><a href="https://www.last.fm/user/andnino"><span class="fab fa-lastfm"></span></a></li>
                <li><a href="https://www.discogs.com/user/GammaInk"><span class="fas fa-record-vinyl"></span></a></li>
                <li><a href="https://bandcamp.com/jjkamminga"><span class="fab fa-bandcamp"></span></a></li>
            </ul>
        </nav>
    </div>