<nav class="header-nav">
    <div class="anchors">
      <span class="nav-item">
        <a href="{{ .Site.BaseURL }}#feature-bio">About</a>
      </span>
      <span class="nav-item">
        <a href='{{ .Site.BaseURL }}/blog'>Blog</a>
      </span>
      <span class="nav-item">
        <a href="{{ .Site.BaseURL }}/stories">Stories</a>
      </span>
      <span class="nav-item">
        <a href="{{ .Site.BaseURL }}/music">Music</a>
      </span>
    </div>
  </nav>
  <header>
    <a href='{{ .Site.BaseURL }}'>
      <div class="weapon" id="weapon-owl">
        <img class="weapon-image" src="/img/icons/{{ .Site.Params.weapon }}" alt="owl icon">
      </div>
      
    </a>
    <!-- avator 
                <div class="avatar">
                  <img class="avatarMask" src="/img/{{ .Site.Params.avatar }}" alt="avatar">
                  <img src="/img/avatar-border.svg" alt="avatar-border">
                </div>-->
    <!-- author 
                <h1 class="author">{{ .Site.Params.Author }}</h1>-->
  </header>
  
  
  
  
  <!-- {{- partial "flower.html" . -}} -->




  <!--<div id="profileContainer">
    <div id="profile">-->
  <!-- description
      <p>
        {{ .Site.Params.description | safeHTML }}
      </p> -->
  <!-- navigation -->
  <!--<nav>
        <ul>
          {{ range .Site.Menus.main }}
          <li><a href="{{ .URL }}" aria-label="{{ .Identifier }}">{{ .Pre }}<br>{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>-->